[submodule "src/http/http-parser"]
	path = deps/http-parser
	url = https://github.com/joyent/http-parser.git
	ignore = untracked
[submodule "deps/json11"]
	path = deps/json11
	url = https://github.com/dropbox/json11.git
    ignore = untracked
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
	ignore = untracked
[submodule "deps/wslay"]
	path = deps/wslay
	url = https://github.com/tatsuhiro-t/wslay.git
[submodule "deps/Catch"]
	path = deps/Catch
	url = https://github.com/philsquared/Catch.git
